
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */

.btn-primary{
  background-color: #4E47FF;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 132px;
  height: 48px;
  border-radius: 10px;
  border: none;
}

.btn-primary:hover{
  background-color: yellow;
  color: black;
}

.text-center{
  text-align: center;
}

/* header styles */

header{
  margin: 0 auto;
  width: 100%;
  height: 698px;
  background-image: url(../Assets/Hero-bg.png);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.logo{
  font-size: 34px;
  color: #4E47FF;
  font-weight:900;
  margin-top: 0px;
  margin-bottom: 0px;

}
.banner{
  width: 905px;
  height: 237px;
  margin: 152px 267.5px;
}
.banner-heading{
  font-weight: bold;
  font-size: 65px;
  color: #252432;
  margin-bottom: 37px;
}
.btn-2{
  width: 174px;
  height: 48px;
}

body{
  background-color: rgba(214, 221, 237, 0.35);
}
/* main styles */

main{
  max-width: 1140px;
  margin: 0 auto;
}

/* action styles */

.action{
  display: flex;
  gap: 220px;
  align-items: center;
  margin-top: 116px;
}

.action-title{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  margin-bottom: 0px;
}

.action-subtitle{
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-top: 23px;
}

.btn-3{
  width: 229px;
  height: 48px;
}

.action img{
  border-radius: 48px;
}

/* productive users styles */

.productive-users{
  background-color: rgba(78, 71, 255, 0.1);
  margin-top: 116px;
  border-radius: 24px;
  padding: 50px 142px;
}
.pu-title{
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 0px;
  margin-top:0px
}
.pu-container{
  display: flex;
  gap: 158px;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 856px;
}
.pu-data{
  font-weight: bold;
  font-size: 80px;
  margin-top: 40px;
  margin-bottom: 0px;
  color: rgba(78, 71, 255, 1);
}
.pu-subtitle{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  margin-left: 20px;
}

/* user feedback styles */
.user-feedback{
  margin-top: 137px;
}
.uf-section-title{
  font-weight: bold;
  font-size: 42px;
}
.feedback-card{
  display: flex;
  gap: 20px;
}
.card{
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
}
.card-title{
  font-size: 24px;
}
.card-subtitle{
  font-size: 16px;
  color: rgba(30, 30, 30, 1);
  margin-bottom: 24px;
}
.reviewer-container{
  display: flex;
  gap: 6px;
}
.card img{
  border-radius: 9999px;
}
.card .name{
  color: rgba(117, 117, 117, 1);

  margin-bottom: 0px;
}
.card .date{
  color: rgba(179, 179, 179, 1);
  margin-top: 0px;
}

/* Get in touch section styles */

.get-in-touch{
  display: flex;
  gap: 115px;
  align-items: center;
  margin-top: 92.23px;
}
.git-section-title{
  font-weight: bold;
  font-size: 97px;
  color: #000000;
}
input[type="email"],input[type="text"],textarea{
  display: block;
  font-size: 20px;
  width: 480px;
  height: 70px;
  padding-left: 32px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}
label{
  font-weight: 500;
  font-size: 18px;
}
textarea{
  height: 135px;
  padding-top: 20px;
}
.btn-4{
  width: 100%;
  height: 62px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 71px;
}

/* footer styles */
footer{
  background-color: rgba(255, 255, 255, 1);
  padding-top: 70px;
  height: 428px;
}
.footer-section{
  width: 531px;
  height: 221px;
  margin: 0 auto;
}
.website-name{
  font-size: 100px;
  font-weight: 900;
  color: rgba(78, 71, 255, 1);
  margin-bottom: 0px;
}
.footer-subtitle{
  color: rgba(137, 135, 161, 1);
  margin-top: 8px;
  margin-bottom: 20px;
}
.links{
  display: flex;
  margin: 10px 65px;
  justify-content: space-around;
}
footer .links li{
  list-style: none;
}
footer li a{
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}



